body {
  color: #555555;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  background: #FFFFFF;
}

body.modal-open {
  overflow: hidden;
}

:hover, :focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.container {
  padding-right: 31px;
  padding-left: 31px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container__no--padding {
  margin: 0 auto;
  max-width: 480px;
  padding: 40px 31px;
}
@media screen and (min-width: 768px) {
  .container__no--padding {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__no--padding {
    width: 1200px;
  }
}

.section {
  padding: 84px 0;
}

.footer__section {
  padding: 44px 0;
}

.section--black {
  padding: 84px 0;
  background-color: #191C26;
}

.recording__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FF6C00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 37px;
}
.recording__btn:hover, .recording__btn:focus {
  background-color: #FF6C00;
}

.footer__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.recording__form {
  margin: 44px 0;
}

.recording__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recording__container:not(:last-child) {
  margin-bottom: 44px;
}

.recording__container--input {
  list-style: none;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-family: Open Sans;
  border-bottom: 1px solid #9DA4BD40;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 8px 0;
}
.recording__container--input::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--input::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--input:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--input::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--input::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--input:hover, .recording__container--input:focus {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.recording__container--input:hover::-webkit-input-placeholder, .recording__container--input:focus::-webkit-input-placeholder {
  color: #FFFFFF;
}
.recording__container--input:hover::-moz-placeholder, .recording__container--input:focus::-moz-placeholder {
  color: #FFFFFF;
}
.recording__container--input:hover:-ms-input-placeholder, .recording__container--input:focus:-ms-input-placeholder {
  color: #FFFFFF;
}
.recording__container--input:hover::-ms-input-placeholder, .recording__container--input:focus::-ms-input-placeholder {
  color: #FFFFFF;
}
.recording__container--input:hover::placeholder, .recording__container--input:focus::placeholder {
  color: #FFFFFF;
}

.recording__container--textarea {
  resize: none;
  border: none;
  height: 76px;
  background-color: transparent;
  border-bottom: 1px solid #9DA4BD40;
  color: #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 8px 0;
}
.recording__container--textarea:hover, .recording__container--textarea:focus {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.recording__container--textarea::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--textarea::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--textarea:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--textarea::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--textarea::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.recording__container--textarea:hover::-webkit-input-placeholder, .recording__container--textarea:focus::-webkit-input-placeholder {
  color: #FFFFFF;
}
.recording__container--textarea:hover::-moz-placeholder, .recording__container--textarea:focus::-moz-placeholder {
  color: #FFFFFF;
}
.recording__container--textarea:hover:-ms-input-placeholder, .recording__container--textarea:focus:-ms-input-placeholder {
  color: #FFFFFF;
}
.recording__container--textarea:hover::-ms-input-placeholder, .recording__container--textarea:focus::-ms-input-placeholder {
  color: #FFFFFF;
}
.recording__container--textarea:hover::placeholder, .recording__container--textarea:focus::placeholder {
  color: #FFFFFF;
}

.recordibg__container--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__img {
  background-image: url("../image/imgfooter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (mib-device-pixel-radio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__img {
    background-image: url("../image/imgfooter@2x.png");
  }
}

.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin-top: 20px;
}

.footer__adress--list {
  margin: 40px 0 44px 0;
}

.footer__adress--item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__adress--link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__section {
  background-color: #2f303a;
  height: 100vh;
  width: 100vw;
  min-height: 437px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#191C2620), to(#191C2620)), url("../image/Sliderheaderm.jpg");
  background-image: linear-gradient(#191C2620, #191C2620), url("../image/Sliderheaderm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__section {
    background-image: url("../image/Sliderheaderm@2x.jpg");
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 113px;
}

.header__title {
  margin: 20px 0;
  font-family: Raleway;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (max-width: 360px) {
  .header__title {
    font-size: 42px;
  }
}

.header__text {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.header__logo {
  fill: #FFFFFF;
}

.button__open {
  fill: #FFFFFF;
}

.header__list {
  max-width: 306px;
}

.mobile__menu {
  background-color: rgba(25, 28, 38, 0.2);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 100vh;
  width: 100vw;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 650ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.button__close {
  display: block;
  fill: #303030;
  margin-bottom: 30px;
  margin-left: auto;
}

.container__menu {
  overflow: auto;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  background-color: #FFFFFF;
  -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  padding: 48px 31px 48px 40px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #303030;
}
.nav__link:focus, .nav__link:hover {
  color: #FF6C00;
}

.nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.contaks {
  margin-bottom: 64px;
}

.contaks__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.contaks__link:focus, .contaks__link:hover {
  color: #FF6C00;
}

.contaks__item:not(:last-child) {
  margin-bottom: 24px;
}

.nav__list {
  margin-bottom: 64px;
}

.header__social--link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.header__social--link:focus, .header__social--link:hover {
  color: #FF6C00;
}

.header__social--item:not(:last-child) {
  margin-bottom: 24px;
  position: relative;
}
.header__social--item:not(:last-child)::after {
  position: absolute;
  left: 0;
  bottom: 8.5px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.header__social--item {
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .nav__link-color {
    color: #FF6C00;
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.services__item::after {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}

.services__item--textline {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section__services {
  background: #111319;
  background-image: url("../image/imgservices.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (mib-device-pixel-radio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__services {
    background-image: url("/image/imgservices@2x.png");
  }
}

.services__list {
  background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px;
  margin: 44px 0 50px 0;
}

.services__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FF6C00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 37px;
}
.services__btn:hover, .services__btn:focus {
  background-color: #FF6C00;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 20px;
}

.section--grey {
  background-color: #F7F7F7;
}

.command__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin: 20px 0 40px 0;
  color: #303030;
}

.container__masters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.command-item:not(:last-child) {
  margin-bottom: 64px;
}

.command__title--masters {
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.command__text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  fill: #303030;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #FF6C00;
}

.entry__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 20px 0;
}

.entry__text {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  color: #555555;
}

.entry__text--style {
  margin: 20px 0 40px 0;
}

.popularity__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin: 20px 0;
  color: #303030;
}

.popularity__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.popularity-list {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popularity__item {
  width: 193px;
  height: 133px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 29.5px;
}
.popularity__item:nth-child(odd) {
  margin-right: 30px;
}
.popularity__item:nth-child(even) {
  margin-top: 30px;
}

.popularity__count {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popularity__count::after {
  content: "+";
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #FF6C00;
  margin-top: 5px;
}

.popularity__item--text {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.works__list {
  margin-top: 44px;
}

.works__item:not(:last-child) {
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.subtitle--grey {
  color: #9DA4BD60;
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 80px;
}
.subtitle--grey::after {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #9DA4BD60;
}

.subtitle {
  color: #303030;
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 80px;
}
.subtitle::after {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.order__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid #FF6C00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 37px;
}
.order__btn:hover, .order__btn:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}/*# sourceMappingURL=portfolio.css.map */