.entry__title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: #303030;
    margin: 20px 0;
}
.entry__text{
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
    color: #555555;
}
.entry__text--style{
    margin: 20px 0 40px 0;
}