// .header {
// }
.header__section{
    padding: 40px 31px;
    background-color: #2f303a;
    max-width: 480px;
    margin: 0 auto;
    height: 580px;
    background-image:linear-gradient( #191C2620,#191C2620 ),
    url("../image/Sliderheaderm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
    (min-resolution:192dpi),
    (min-resolution:2dppx) {
        background-image: url("../image/Sliderheaderm@2x.jpg");
    }
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 113px;
}
.header__title{
    margin: 20px 0;
    font-family: Raleway;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.header__subtitle{
    position: relative;
    color: #9DA4BD60;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left:80px ;
    &::after{
        position: absolute;
        left: 0;
        bottom: 7px;
        content: "";
        width: 60px;
        height: 1px;
        background: #9DA4BD60;
    }
}
.header__text{
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.header__logo {
    fill: #FFFFFF;
}
.header__btn {
    fill: #FFFFFF;
}
.header__list {
    @media screen and(min-width:480px){
        width: 306px;
    }
}
// .header__item {
// }