.works__list{
    @media screen and (min-width:768px) {
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
    }
}
.works__item{
    @media screen and (max-width:767px) {
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width:1280px) {
        flex-basis: calc((100% - 120px) / 4);
    }
}
.works__subtitle{
    margin-bottom: 44px;
}